<html>
  <head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./nom-app.js"></script>
  </head>
  <body>
    <div class="container">
      <form class="well form-horizontal" action="/api/nominator/submitform" method="post" id="nomination">
        <input type="hidden" name="type" value="4">
        <fieldset>
          <!-- Form Name -->
          <legend>STUDENT - NOMINEE INFORMATION</legend>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Nominator Name</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="nominator" placeholder="Nominator" class="form-control"  type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="first_name" placeholder="First Name" class="form-control"  type="text">
              </div>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" >Last Name</label> 
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
              </div>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" placeholder="E-Mail Address" class="form-control"  type="email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">School</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="school" placeholder="school" class="form-control"  type="text">
              </div>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Phone Contact</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
              </div>
            </div>
          </div>
          <!-- radio checks -->
          <div class="form-group">
            <label class="col-md-4 control-label">Do you consider yourself <br />Hispanic / Latino?</label>
            <div class="col-md-4">
              <div class="radio">
                <label>
                  <input type="radio" name="hispanic" value="yes" /> Yes
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="hispanic" value="no" /> No
                </label>
              </div>
            </div>
          </div>
          <!-- Text area -->
          <div class="form-group">
            <label class="col-md-4 control-label">Why or why not?</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <textarea class="form-control" name="whywhynot"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Number of sports teams played on</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="numteams" class="form-control"  type="number">
              </div>
            </div>
          </div>
          <!-- Title-->
          <div class="form-group">
            <label class="col-md-12">All applicants, regardless of nomination category, are required to respond to <u>one</u> of the following essays. 
              The response is limited to 7500 characters. Criteria for judging the statements include:</label>  
          </div>
          <!--Table-->
          <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
body {
  background-color: #FFF
}
          </style>
          <table class="tg" style="undefined;table-layout: fixed; width: 411px">
            <colgroup>
              <col style="width: 206px">
              <col style="width: 205px">
            </colgroup>
            <tr>
              <th class="tg-yw4l">Grammar, Spelling and sentence structure</th>
              <th class="tg-yw4l">Clear theme or topic</th>
            </tr>
            <tr>
              <td class="tg-yw4l">Supporting details</td>
              <td class="tg-yw4l">Personal or People Impact</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Effective use of words</td>
              <td class="tg-yw4l">Organization of thoughts</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Relevant Content and Examples</td>
              <td class="tg-yw4l">Strong introduction and conclusion</td>
            </tr>
          </table>
          <!-- Title-->
          <div class="form-group">
            <label class="col-md-4 control-label"> </label> 
          </div>
          <!-- Title-->
          <ul>
            <div class="form-group">
              <li>  <label class="col-md-12"> “If you, as a Hispanic person, decided to run for president, how would you convince America that you are a strong candidate?”  What would be your platform for your campaign (i.e. values)?  What do you think one of the biggest issues facing a new president would be? 
                </label> 
                </li>
            </div>
              
              <!-- Title-->
              <div class="form-group">
                <li><label class="col-md-12"> In many ways, schools are more segregated today than in past decades, and residential segregation is a fact of life in many areas.  How can you, the student foster the respect for differences even when the school environment lacks diversity? 
                  </label> 
                  </li>
              </div>
                
          </ul>
          <!--Title-->
          <div class="form-group">
            <label class="col-md-4 control-label"> <u>Checklist of Required and Supporting Documents:</u></label> 
          </div>
          <!--Text-->
          <p>Nominees must submit the appropriate attachments as listed below. Documents may be scanned or sent as a graphic. Upon submission of this application, please submit your videos, recordings, photos, projects, and/or portfolios as an email attachment to HSRP@thelatincenter.org in JPG or PDF format. Be sure the email identified the name of the student and school. <br>
          If necessary, supporting documents may be sent by mail with the Supplemental Documents Form provided on the website.  <br><br>
          Please note all videos, recordings, photos and/or portfolios submitted become the property of the Latin American Community Center (LACC). The LACC reserves the right to use these submissions in any form, including but not limited to the agency website, agency publications and during the Hispanic Student Recognition Program ceremony.
          </p>
          <!--Title-->
          <div class="form-group">
            <label class="col-md-3 control-label"> <u>All Nominees must submit:</u></label> 
          </div>
          <!--Check Boxes-->
          <p>Personal Statement as described above.
          <input type="file" name="pstatement" />
          <br/>
          <p> Resumé -   Include a resume listing your achievements. Honors received could include trophies, plaques, and certificates. Activities could include extracurricular activities, community volunteer service hours, and any employment.</p>
          <input type="file" name="resume" />
          <br>
          <p> Report Card or transcript – most current complete year and semester. </p>
          <input type="file" name="reportcard"/>
          <br>
   
    
    <!--Text-->
    <p><b>Acceptable support materials for submission by award categories: You must provide a portfolio that demonstrates your achievement in the award categories. The following descriptions provide some relevant suggestions but you must present yourself as you deem most appropriate for the award. 
    </b>
    </p>

    <!--Bullets-->
    <ul>
      <li><b>Academics:</b>  GPA (indicate weighted or unweighted), class rank, standardized test scores (e.g. SAT), AP course listing and scores, honors course listing, honor society membership, academic awards, etc. </li>
            <li><b>Art:</b>   Multiple submissions of your art (visual, performance, etc.) are required.<br> -  VISUAL ARTS: All Visual Artwork (drawings, paintings, graphic art, photographs, etc.) must be either photographed and printed or submitted electronically. <br> -  PERFORMING ARTS: Must submit a video clip or web link (e.g. YouTube), minimum length of 1 minute, and maximum length of 5 minutes. Examples of performing arts may include: Singing, Dancing, Acting, Musical Instruments, Spoken Word, etc.</li>
            <li><b>Science/Technology:</b> Multiple submissions of something related to science, technology, engineering, or math is required. Examples of previous submissions include: science projects, Computer Aided Design (CAD) architectural drawings, and awards in these fields.</li>
            <li><b>Community Service:</b> Provide statement regarding reason why place of community service was chosen. This can be submitted in the form of letters, certificates, awards, media clippings, recognitions, etc. Also, submit the additional form for Community Services Verification Form provided the website.</li>
            <li><b>Athletics:</b>  Examples of document submissions might include: certificates of participation or accolades and letters of recommendation from coaches, newspaper clippings, pictures with trophies / awards, etc.</li>
          </ul>
          <!--Title-->
          <div class="form-group">
            <label class="col-md-0 control-label"> <u>TERMS AND CONDITIONS</u></label> 
          </div>
          <!--Title-->
          <p><b>All of the information that I have provided in this application and additional documents are accurate and complete to the best of my knowledge. I understand and acknowledge that providing false or misleading information may disqualify the nominee from being considered for HSRP awards. If you are under 18, your parent or guardian must also agree to the terms and conditions.</b></p>
          <!--Check Boxes-->
          <div class="form-group">
            <label class="col-md-2 control-label"></label>  
            <div class="col-md-3 inputGroupContainer">
              <input type="checkbox" name="chk_group[]" value="value1" />  Nominee/Student Accept 
              <br />
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-2 control-label">PARENT / GUARDIAN NAME</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input  name="parent_guardian_name" placeholder="Parent/Guardian Name" class="form-control"  type="text">
              </div>
            </div>
          </div>
          <!--Check Box-->
          <div class="form-group">
            <label class="col-md-2 control-label"></label>  
            <div class="col-md-3 inputGroupContainer">
              <input type="checkbox" name="chk_group[]" value="value1" />  Parent/Guardian Accept
              <br/>
            </div>
            <!-- Success message -->
            <div class="form-group" id="success_message">Thanks for contacting us, we will get back to you shortly.</div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4">
                <button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
              </div>
            </div>
        </fieldset>
      </form>
      </div>
    </div>
          </div>
    </div>
  </body>
</html>
