<h1 class="ui center aligned header">Report a Spam Number</h1>

<div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">

<form class="ui form" method="POST" action="/report_num">
	<div class="field">
		<label>Phone number:</label>
		<input type="text" name="phonenum" placeholder="Enter Phone Number">
	</div>
	<div class="field">
		<label>Call Type:</label> <br>
		<input type="radio" name="calltype" value="Spam">Spam <br>
		<input type="radio" name="calltype" value="Telemarketers">Telemarketers <br>
		<input type="radio" name="calltype" value="Robocallers">Robocallers <br>
	</div>
	<div class="field">
		<label>Call Content:</label>
		<input type="text" name="callcontent" placeholder="What did they say to you?">
	</div>
	<div class="field">
		<label>Reports:</label>
		<input type="text" value="1" name="reports" placeholder="How many times have they called you?">
	</div>
	<div class="field">
		<label>How To Unsubscribe:</label>
		<textarea type="text" name="howtounsub" placeholder="What did you do?"></textarea>
	</div>
	<button type="submit">Report this number</button>
</form>

</div>
</div>
